[2019-05-25 22:12] DavidBerdik opened #1 "Bitmap generation does not work"
Generating bitmaps out of file data does not work properly. Preferably, @digicannon's C-based solution should be replaced with a Python one.

[2019-05-26 22:04] #1 closed, assigned to DavidBerdik

[2019-05-26 22:07] DavidBerdik opened #2 "Trying to jam lots of data in to one image causes Google's compression to go crazy."
Trying to jam lots of data in to one image causes Google's compression to go crazy and compress images to the point that they are unusable and the images are visibly blurry (even 1MB images suffer from this). There is no way that data from these images will be recoverable.

Proposed solution: put less data in to individual images, and put more images in to a single Word document.

![image](https:/

[2019-05-27 01:04] #2 closed, assigned to DavidBerdik

[2019-05-27 03:44] DavidBerdik opened #3 "Finish implementing download functionality."
As far as I can tell, uploading is working properly, but a matching download functionality has not been properly implemented yet.

[2019-05-27 03:50] DavidBerdik opened #4 "Save temporary Word documents to memory instead of to disk when uploading."
Currently, temporary Word documents that are generated for uploading to Google Drive are written to the disk. The preferred approach would be to store and upload them from memory.

Possible approach for doing this: https://stackoverflow.com/a/36214898/2941352

[2019-05-27 18:45] DavidBerdik opened #5 "Need a new approach to uploading images."
Apparently, Google does indeed mess with images enough for the data to be lost, so an entirely new approach to uploading images is needed.

[2019-05-27 23:14] DavidBerdik opened #6 "Google rearranges image order in converted Word documents."
When a Word document is converted to the native Doc format, Google rearranges the image order in the file structure, meaning that reading the images in the document sequentially is not possible. I am not sure how to deal with this problem at the moment.

[2019-05-27 23:37] DavidBerdik opened #7 "Experiment with using Alpha channel."
PNGs support using the Alpha (transparency) channel. We may be able to use this to pack 4 bytes of data per pixel in to images (we currently use RGB, so 3 bytes per pixel), but it will be necessary to determine if Google alters Alpha channel values at all before using.

[2019-05-27 23:57] #5 closed, assigned to DavidBerdik

[2019-05-28 00:21] #7 closed, assigned to DavidBerdik

[2019-05-28 01:33] DavidBerdik opened #8 "Null bytes that occur at the end of a file for real are trimmed."
The current approach to deal with null bytes when downloading is to trim them from the end of the data we get from the image. This works most of the time, but in cases where a file contains one or more null bytes at the end, this approach will cut those off. We therefore need a more elegant solution.

[2019-05-28 02:23] DavidBerdik opened #9 "Make program output more user-friendly."
Output from the program is all over the place right now. It is sufficient for debugging, but it's not very intuitive for end-users.

[2019-05-28 12:53] DavidBerdik opened #10 "Experiment with unzipping Word documents without changing extension to zip when downloading."
The current approach to extract images from Word documents when downloading is to:

1. Download the Word document
2. Change the document's extension from "docx" to "zip"
3. Unzip the file with the changed extension

I am not sure that the extension change is necessary. It would be a good idea to try experimenting with unzipping directly from the file without changing the experiment. If it works, w

[2019-05-28 23:18] #10 closed, assigned to DavidBerdik

[2019-06-04 00:25] DavidBerdik opened #11 "Google limits file sizes to 10MB when downloading via Drive API"
Apparently, Google limits downloads to 10 MB when downloading via the Drive API. This means that our current average upload size of 48MB needs to be cut back to around 9.75 MB. Unfortunately this will result in a drop in efficiency, but on a more positive note, reassembling the data should be easier to finish implementing.

[2019-06-04 00:56] #6 closed, assigned to DavidBerdik

[2019-06-04 01:06] #11 closed, assigned to DavidBerdik

[2019-06-04 01:35] DavidBerdik opened #12 "When downloading, only 100 files are found even if there are more."
When downloading, only 100 files are found even if there are more than 100 files.

Relevant StackOverflow post: https://stackoverflow.com/q/28462998/2941352

[2019-06-05 00:45] #3 closed, assigned to DavidBerdik

[2019-06-05 00:45] #8 closed, assigned to DavidBerdik

[2019-06-06 00:41] #4 closed, assigned to DavidBerdik

[2019-06-06 00:47] DavidBerdik opened #13 "Word documents are sometimes disassembled in wrong order when downloading."
When downloading a file that is made up of 10 or more Word documents, the images in each document are not reassembled in numeric ascending order. Instead, they are reassembled by string (ie. `1, 10, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9`).

[2019-06-06 00:55] DavidBerdik opened #14 "Add "credentials.json" to gitignore and invalidate it before making this repository public"
Before this repository is made public, add "credentials.json" to gitignore, remove "credentials.json" from the working directory, and invalidate it.

[2019-06-07 23:22] #13 closed, assigned to DavidBerdik

[2019-06-08 01:58] #12 closed, assigned to DavidBerdik

[2019-06-08 02:06] DavidBerdik opened #15 "Google goes compression-crazy on images that are extremely transparent."
In cases where an image is extremely transparent, Google goes compression-crazy and damages the data. The most practical solution to this will probably be to drop the use of the alpha channel, which does not really by us anything anyway since we are limited to 10MB.

[2019-06-08 03:17] #15 closed, assigned to DavidBerdik

[2019-06-09 21:15] #9 closed, assigned to DavidBerdik, SMyrick98

[2019-06-18 22:38] #14 closed, assigned to DavidBerdik

[2019-06-23 00:10] DavidBerdik opened #16 "Retry Google Drive uploads when a 500 error occurs"
In cases where an upload fails with a 500 error, InfiniDrive crashes and the upload does not complete.

Error message from the crash:
[code]

[2019-06-23 02:58] DavidBerdik commented on #16
This issue should be fixed in 5e75389884f9df0fab127883c023c5d0b69334a3. This issue will be reopened if necessary.

[2019-06-23 02:58] #16 closed

[2019-06-30 21:22] DavidBerdik opened #17 "When downloading, fragments are sometimes incorrectly 2 bytes long after processing for no apparent reason."
When downloading, fragments are sometimes incorrectly 2 bytes long after processing for no apparent reason. This of course causes the resulting output file to be corrupted. Oddly, this behavior is not consistent. Trying to reproduce the bug results in either one of two scenarios:

- The bug does not occur at all and the file is downloaded properly
- The bug occurs, but not in the same place as in

[2019-06-30 21:37] DavidBerdik commented on #17
Probable source of bug: Google Drive has a bug that sometimes causes images in Docs to not get converted properly, and instead, the image is replaced with a 1x1 image. When this happens, the image that is retrieved from the Word document will have three bytes which, after InfiniDrive removes what is supposed to be the spacer byte, will leave us with 2 bytes.

A simple solution to this problem woul

[2019-06-30 21:48] DavidBerdik commented on #17
This issue should be fixed by 6ae15cb460ca4abc106ffd226983d9a66f987311. This issue will be reopened if necessary.

[2019-06-30 21:48] #17 closed

[2019-07-01 18:16] DavidBerdik opened #18 "Store InfiniDrive Uploads in Isolated Location"
The Drive API allows for hidden folders to be created. Hidden folders are not displayed in the Drive UI, and can only be accessed via search. InfiniDrive should make use of a hidden folder for storing uploads.

Doing this would be advantageous because:

- It would discourage users from viewing and editing InfiniDrive-generated Docs files
- It would prevent cluttering the user's Drive account with

[2019-07-01 23:25] DavidBerdik commented on #18
This feature was implemented across c680a606287b2bd991b4ce3c891fdb8343b0038b, d3218db6cc889d9cef8c474f4b96f6cf2c635146, and bbb3593b564856054dfb826476c4ac8337648d5c.

[2019-07-01 23:25] #18 closed

[2019-07-10 13:58] DavidBerdik opened #19 "In some cases, fragment uploads succeed but are reported as a failure, resulting in a duplicate upload."
In some cases, fragment uploads succeed but are reported as a failure, resulting in a duplicate upload. The best way to fix this would probably be to scan for a valid upload before attempting another upload, and if a valid upload is found, ignore the so-called failure.

[2019-12-18 03:37] DavidBerdik commented on #19
This issue appears to be fixed by 1897cfb6b19456eae778022acb8ff124db383d6b. This issue will be reopened if necessary.

[2019-12-18 03:37] #19 closed

[2020-01-25 00:26] DavidBerdik opened #20 "Add AES Encryption Support"
Adding support for using AES encryption when storing files using InfiniDrive would be useful. How to best approach adding this is unclear for now. The obvious answer is to encrypt the data in chunks as it is being processed for uploading, but perhaps pre-processing would be better.

Related idea: Should InfiniDrive support retroactively encrypting files that were uploaded in an unencrypted form?

[2020-01-25 03:37] DavidBerdik opened #21 "Experiment with Multithreading"
The main bottleneck for InfiniDrive is interacting with the Google Drive API. It may be possible to alleviate this problem by running several uploads in parallel across several threads.

This should be considered experimental and not something that should absolutely be done, as rate-limiting errors are more likely and may make it not worth the effort.

[2020-02-05 03:12] DavidBerdik opened #22 "Add Deletion Verification"
It is currently way too easy to accidentally delete the wrong file. A deletion verification step should be added to fix this. As part of this change, a "force delete" flag should be added to the delete command so that if the user desires, the verification may be bypassed.

[2020-02-05 03:21] DavidBerdik opened #23 "Redesign Upload and Download Progress Status"
Upload and download progress status should be redesigned to use a CLI-based progress bar.

For now, this change is purely for cosmetic purposes, however, if #21 gets implemented, it will become a necessity. This is because our current approach for presenting progress to the user is too clumsy to be user-friendly if multiple threads are being used.

[2020-02-07 13:48] innowebka opened #24 "is there anyway to upload files from url (remote upload ) ?"
can i upload from url or can you add this feature?

[2020-02-07 21:47] DavidBerdik commented on #24
There is no support for uploading files from a URL, but I see no reason why this feature cannot be added in the future.

[2020-02-08 00:18] DavidBerdik opened #25 "Experiment with Compression"
We may be able to improve performance by processing data with a compression algorithm when uploading. Ideally, this would mean that the data would take up less space and therefore require fewer Drive uploads.

[2020-02-08 00:19] DavidBerdik commented on #23
CLI-based progress bars have been added as of v1.0.9.

[2020-02-08 00:19] #23 closed

[2020-02-08 03:32] DavidBerdik commented on #22
This feature was added in f4acce2b9c4932e798507cb38415513e4ac941e8.

[2020-02-08 03:32] #22 closed

[2020-02-09 02:03] DavidBerdik commented on #24
This feature has been added as of the release of v1.0.9. - https://github.com/DavidBerdik/InfiniDrive/releases/tag/v1.0.9

Here is an example of how to use this feature to upload an Ubuntu ISO directly from one of the official download mirrors and save it with the name "Ubuntu.iso."

[code]

[2020-02-09 02:03] #24 closed

[2020-03-09 15:35] tahadouhi opened #26 "can't track the uploading progress"
Python : 3.8
Os: Windows 10
Description of the issue :
the program works well, but I can't track the status of the upload the progress-bar is stuck as in this picture, so i've to wait untill the upload finishes without knowing when it will finish.
![Capture](https://user-images.githubusercontent.com/10810222/76230327-d5e2a800-6223-11ea-98e8-ea224c9fa2d4.JPG)

thank you so much brother !

[2020-03-09 19:27] innowebka opened #27 "Upload from url"
can i upload from direct url ?
like - https://website.com/name.txt

[2020-03-09 21:20] DavidBerdik commented on #27
Hello @innowebka,

Yes, it is possible to upload from a direct URL. You can do that like this:

[code]

This will store the text file at the address you provided with the name "RemoteText.txt".

For the purposes of keeping the issue tracker clean, I am going to close this. If you have any additional questions however, feel free to reopen it.

~ David

[2020-03-09 21:20] #27 closed

[2020-03-09 21:49] DavidBerdik commented on #26
Hello @tahadouhi,

When you request to upload a file, InfiniDrive does so by breaking the file in to chunks. The progress bar is designed to advance at the start of processing each chunk. When you upload a file that is small enough, there is only 1 chunk, thus, the progress bar immediately jumps to 100%, completes the upload, and InfiniDrive exits. Therefore, this isn't so much a bug as it is perh

[2020-03-16 13:05] innowebka commented on #26
whats the maximum file upload size ?

[2020-03-16 13:14] innowebka commented on #27
how to change the uploaded file name ?

[2020-03-16 20:25] innowebka commented on #24
Remote feature works and thanks for your hard work. Tried uploading a file around 5gb in size it works and i will give you more results but now testing max upload file size.

[2020-03-16 20:40] innowebka commented on #22
this error happened in windows cmd
i don't know its a bug or not.
deleted a file and again requested to delete the same file again with file id

it gives me this error

<HttpError 404 when requesting https://www.googleapis.com/drive/v3/files/1XXXXXXXXXXXXXX? returned "File not found: FILE ID 1XXXXXXXXXXXXXXXXX .">
<HttpError 404 when requesting https://www.googleapis.com/drive/v3/files/1XXXXXXXXXX

[2020-03-16 21:00] DavidBerdik commented on #26
@innowebka InfiniDrive does not have a maximum file size! You can throw as large of a file at it as you want!

[2020-03-16 21:03] DavidBerdik commented on #24
@innowebka You're welcome! As for the file size, you should be able to upload any file regardless of size.

[2020-03-16 21:04] DavidBerdik opened #28 "Add Support for Changing File Names"
how to change the uploaded file name ?

_Originally posted by @innowebka in https://github.com/DavidBerdik/InfiniDrive/issues/27#issuecomment-599529132_

[2020-03-16 21:05] DavidBerdik commented on #28
@innowebka There is currently no support for changing names of uploaded files, but I can add it to a future release.

[2020-03-16 21:10] DavidBerdik opened #29 "Add Support for Detecting Attempts at Deleting Nonexistent Files"
this error happened in windows cmd
i don't know its a bug or not.
deleted a file and again requested to delete the same file again with file id

it gives me this error

<HttpError 404 when requesting https://www.googleapis.com/drive/v3/files/1XXXXXXXXXXXXXX? returned "File not found: FILE ID 1XXXXXXXXXXXXXXXXX .">
<HttpError 404 when requesting https://www.googleapis.com/drive/v3/files/1XXXXXXXXXX

[2020-03-16 21:12] DavidBerdik commented on #29
@innowebka This occurs because InfiniDrive does not support detecting attempts to delete nonexistent files. This is a bug and should be fixed in the next release.

[2020-03-17 00:27] DavidBerdik commented on #28
This feature has been added as of the release of v1.0.12. - https://github.com/DavidBerdik/InfiniDrive/releases/tag/v1.0.12

To rename uploaded files, use the new `rename` command.

[2020-03-17 00:27] #28 closed

[2020-03-17 00:27] DavidBerdik commented on #29
This bug has been fixed as of the release of v1.0.12. - https://github.com/DavidBerdik/InfiniDrive/releases/tag/v1.0.12

[2020-03-17 00:27] #29 closed

[2020-03-17 11:47] innowebka opened #30 "Add Support for downloading"
when downloading a file choosing path to save the file (c:\user\folder) sometimes gives me error.
new feature:
if i hit (in windows )
**infinidrive.py download file id**
its saves straight to downloads folder in ifinidrive-master folder/downloads (ifinidrive-master/downloads)

like in the screenshot

![Screenshot](https://user-images.githubusercontent.com/57298213/76852929-651a3c00-6872-11ea-957f-

[2020-03-17 11:56] innowebka commented on #28
rename feature works

[2020-03-17 12:02] innowebka commented on #24
if i upload a 5gb file does it need 5gb internet ?

[2020-03-17 12:12] innowebka commented on #17
why this error happens when downloading ?
and i cant solve the problemhel me!
python Infinidrive.py download FILEID C:\users\USERNAME\desktop\InfiniDrive-master

Traceback (most recent call last):
  File "Infinidrive.py", line 157, in <module>
    result = open(str(sys.argv[3]), "wb")
PermissionError: [Errno 13] Permission denied: 'C:\\users\\USERNMAE\\desktop\\InfiniDrive-master'

i cant download

[2020-03-17 21:14] DavidBerdik commented on #24
@innowebka Unfortunately, because of how InfiniDrive works, having faster internet speeds will not dramatically decrease upload times.

[2020-03-17 21:17] DavidBerdik commented on #17
@innowebka You are probably receiving this error because you are not specifying a full file path. Instead, you are only specifying the directory to which you wish to download.

If you wish to use the download command to save a text file with the name `example.txt`, here is how the command you listed above should be formatted.

[code]

[2020-03-17 21:24] DavidBerdik commented on #30
I think making the download command not require an explicit value to be given for the final parameter is a good idea, but I have reservations about defaulting to the Downloads directory. Not everyone uses Windows and therefore, I do not think it is a good idea to default to that location. I think the sensible thing to do would be to default to the working directory of InfiniDrive.

[2020-03-18 18:26] innowebka commented on #30
default to the working directory of InfiniDrive useful for windows and everyone.
i said InfiniDrive/downloads means downloads folder inside the InfiniDrive Folder not c:\downloads.

[2020-03-18 18:33] innowebka commented on #17
**Thanks** ❤️

[2020-03-18 21:37] DavidBerdik commented on #17
You're welcome!

[2020-03-18 21:44] DavidBerdik commented on #30
Oh, I understand now. Sorry about the confusion. I will consider this, but I still am not sure how I feel about not just having the file saved to the working directory as is currently done. I fear that changing this could confuse users.

[2020-03-18 22:40] innowebka commented on #24
i have 5gb internet pack and if i download a file around 5gb my internet pack expires and i cant use internet after downloading 5gb file.
so if i upload 5gb remote file from direct download link (ex: https://website.com/5gbfile.iso) do i need 5gb internet or page load MB is enough ?

[2020-03-18 22:43] innowebka commented on #24
no speed per second. i mean internet usage when i do remote upload do i need 5gb internet pack for 5gb remote file ?

[2020-03-18 23:40] DavidBerdik commented on #24
Oh, I understand now. Unfortunately, if you are uploading from a direct download link, you will need twice as much data as the file size. This is because when processing direct links, the file is downloaded from the server one chunk at a time, processed, and uploaded to Google Drive. Sadly, there is really no way of working around this.

[2020-03-22 09:37] innowebka opened #31 "Add Support for updating Files"
updating exsiting files

[2020-03-22 15:16] fuk-github-hitler-rocks opened #32 "Add Support To Folder Recursive Upload"
that would be wonderful
upload -r /path/to/folder

[2020-03-22 20:53] DavidBerdik commented on #31
This is a very good idea, but unfortunately, I believe it would require iterating the entire file on Drive, which would effectively mean downloading each file fragment, comparing it to the corresponding fragment of the local file, and uploading the changed fragment if appropriate. That is not to say that there is not value in having this feature, but I want to point out that adding it will not nec

[2020-03-22 21:47] DavidBerdik commented on #32
I will consider implementing this in a future release. Since InfiniDrive does not make use of a directory structure in any capacity, I am not sure that this is a good idea to implement at this time.

[2020-03-24 01:05] DavidBerdik opened #33 "Silent Data Corruption Still Occurs Occasionally"
Apparently, there is still an issue with data corruption occurring intermittently when using InfiniDrive. Further investigation in to this is necessary.

It was previously thought that this issue had been resolved, however, further testing has revealed additional occurrences of such corruption.

[2020-03-28 12:04] innowebka commented on #29
Uploading...Traceback (most recent call last):
  File "InfiniDrive.py", line 116, in <module>
    fileBytes = infile.read(readChunkSizes)
OSError: [Errno 5] Input/output error

**why this error happens plz help me** ?

[2020-03-28 16:38] DavidBerdik commented on #29
@innowebka Could you please share the command you are attempting to use when you get this error?

[2020-03-28 17:31] innowebka commented on #29
when uploading file around 6gb

[2020-03-28 17:32] DavidBerdik commented on #29
@innowebka Sorry, but could you please post the exact command you are entering?

[2020-03-28 17:36] innowebka commented on #29
InfiniDrive.py upload c:\desktop\file.exe filename

[2020-03-28 17:44] DavidBerdik commented on #29
@innowebka I think you may mean `c:\Users\<USER ACCOUNT NAME>\desktop\file.exe`

[2020-03-29 12:31] innowebka commented on #29
yes thanks and i fixed it. the problem caused by me not the infinidrive problem.

[2020-03-29 12:41] innowebka commented on #29
is there any chance that you can add feature that gives us the **size** of each **uploaded files** and **total uploaded volum**e ?
List exceeds 100 files so cant memorize or cant note down each file sizes.

[2020-03-29 17:09] DavidBerdik commented on #29
Excellent! I'm happy to hear it!

I am sorry, but I do not understand what you mean. Is this a bug you found?

[2020-03-29 20:02] DavidBerdik opened #34 "Add support for viewing sizes of uploaded files"
A command should be added that would allow users to determine the size of an InfiniDrive upload.

[2020-03-30 17:22] innowebka commented on #29
NO ITS NOT A BUG.

[2020-03-30 17:26] innowebka commented on #30
now i understand dont add this feature

[2020-03-30 21:25] DavidBerdik commented on #29
@innowebka Then what is it? I am sorry, but I really do not understand what you are talking about.

[2020-04-01 19:29] innowebka commented on #29
noting.

[2020-04-01 19:32] DavidBerdik commented on #29
@innowebka I'm sorry. I am just trying to understand what you are referring to. I've noted your request for viewing sizes of files in issue #34, but I am not sure I understand what you meant about the lists.

[2020-04-03 02:03] flxlocle opened #35 "Integrate Rclone"
Is there a way to integrate Rclone to work with InfiniDrive? It would be a very useful feature.

Also can InfiniDrive be use to upload a folder?

[2020-04-05 02:29] DavidBerdik commented on #35
This is an interesting suggestion. It's not something I want to do right now, but as a long term goal, it is something I am certainly interested in looking in to.

[2020-04-05 21:48] #30 closed

[2020-04-06 00:21] DavidBerdik commented on #33
The following 6 Word documents were manually located and downloaded from a 50GB InfiniDrive upload that was known to be corrupted with 3 duplicates. Both versions of the 3 occurring duplicates are attached. Note that the first two duplicates appear to be merely copies of the same data, but the second file in the third pair of duplicates appears to be corrupted.

Duplicate Set 1
* [2681 - Version 1

[2020-04-06 00:27] DavidBerdik commented on #33
b0275cc72e3fe7f1c52d32d13364da311059c4c8 is expected to resolve this issue. This patch is currently undergoing testing.

[2020-04-07 17:55] innowebka commented on #29
Uploading... |███░                            | 125/1237An error occurred. Please report this issue on the InfiniDrive GitHub issue tracker and upload your "log.txt" file.
Uploading... |████░                           | 165/1237An error occurred. Please report this issue on the InfiniDrive GitHub issue tracker and upload your "log.txt" file.
Uploading... |██████▓                         | 258/1237

[2020-04-07 19:20] DavidBerdik commented on #29
@innowebka In your InfiniDrive directory, there should be a "log.txt" file. Could you please upload it here? There is an known issue with InfiniDrive which is causing data corruption. I believe I have a patch for it that is currently undergoing testing. If successful, it will be pushed in the next release. That said, any data you can provide me will be helpful in resolving the issue.

[2020-04-07 21:19] innowebka commented on #29
[log.txt](https://github.com/DavidBerdik/InfiniDrive/files/4447028/log.txt)
am i uploaded the right file ?

[2020-04-07 21:22] DavidBerdik commented on #29
@innowebka Yes. This is the correct file. Unfortunately, it looks like you may have used InfiniDrive again after the error occurred, and as a result, your log file was reset and any data that was collected is gone. InfiniDrive v1.0.16 is available on the `v1.0.16` branch if you would like to try out the experimental version that I believe fixes this bug.

If you do not want to try it out, I would

[2020-04-07 21:22] innowebka commented on #29
do i need to **wait for the patch** or can i **continue to uploading** ? do i need to **stop uploading** ?

[2020-04-07 21:25] DavidBerdik commented on #29
@innowebka You can continue to upload, but there is a high risk of your upload becoming corrupted.

This is the version that I believe fixes the bug: https://github.com/DavidBerdik/InfiniDrive/archive/v1.0.16.zip

**Please note however that this release is still in testing.**

[2020-04-08 11:14] innowebka commented on #29
Tested with 4GB and 12GB upload and when uploading no error appeared like above mentioned.
so **v.1.0.16 works great**. ❤️

[2020-04-09 01:52] DavidBerdik commented on #29
@innowebka Your log.txt file indicates that no corruption occurred! Unfortunately, v1.0.16 does still have a bug that is causing corruption to occur, but a notification will display if this corruption occurs.

[2020-04-10 01:21] DavidBerdik commented on #33
b0275cc72e3fe7f1c52d32d13364da311059c4c8 did not resolve the issue. cdc632cf94055e77f489479a5e0ec261e4dc5c25 is a redesign of the corruption detection and repair system that is currently in testing.

[2020-04-10 10:17] innowebka commented on #29
how to identify the notification displayed or not ? how notification looks like share a screenshot plz!

[2020-04-10 20:22] DavidBerdik commented on #29
@innowebka If your upload becomes corrupted, the following message will appear in the terminal once the upload has completed.

[code]

I am currently testing another patch to v1.0.16 that, if successful, will be released officially. Preliminary results indicate that this patch properly resolves this issue, but until the testing is entirely completed, I cannot be sure.

[2020-04-10 20:26] DavidBerdik commented on #33
Testing of uploads using the cdc632cf94055e77f489479a5e0ec261e4dc5c25 redesign suggests that the issue has been properly addressed. To ensure this, download tests are currently being performed. If the resulting files are properly restored, this issue will be marked as closed and the fix will be released as v1.0.16.

[2020-04-10 22:57] DavidBerdik commented on #33
When performing download testing, an additional edge case was discovered. File corruption occasionally occurs in the form of a 1x1 image. The following is a sample fragment which demonstrates this.

[162.docx](https://github.com/DavidBerdik/InfiniDrive/files/4463659/162.docx)

[2020-04-10 23:39] DavidBerdik commented on #33
5d47d87e4c4fa143051ba8b17b856a7909181b03 attempts to patch the aforementioned edge case. This patch is currently being tested.

[2020-04-15 01:38] DavidBerdik commented on #33
The introduction of CRC32 hashing to verify fragments successfully resolved this problem. As of v1.0.16, there are no known ways for corruption to occur and remain undetected.

[2020-04-15 01:38] #33 closed

[2020-04-17 08:59] innowebka opened #36 "bug[maybe] : list command limit"
when i hit
**python infinidrive.py list**
it shows list of 100 files and its id but Ive more than 100 files uploaded to infinidrive.
cant see full list of files uploaded to infinidrive.
tried in cmd and power-shell but end-up in same results.

[2020-04-17 12:36] DavidBerdik commented on #36
Hello @innowebka,

Thank you for reporting this. This is indeed a bug.

[2020-04-18 15:29] DavidBerdik commented on #31
With the introduction of CRC32 validation, adding support for updating files may be more feasible now, as it should no longer be necessary to download each fragment. Instead, we can just check each local fragment of the file against the CRC32 hash of the remote fragment and make changes remotely if necessary.

[2020-04-19 17:21] DavidBerdik commented on #36
This bug has been fixed as of the release of v1.0.17.

[2020-04-19 17:21] #36 closed

[2020-04-21 19:18] innowebka opened #37 "good wok"

[2020-04-21 19:23] #37 closed

[2020-04-21 19:26] innowebka commented on #37
just delete this issue.

[2020-04-21 19:41] DavidBerdik commented on #37
Hello @innowebka,

I'm happy to hear that you got this sorted out on your own! 😊

[2020-04-21 19:51] innowebka commented on #37
🥰  😘

[2020-04-21 20:01] innowebka commented on #37
God its still a myth you're always active when i open a issue you're ready before me posting an issue.
❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️

[2020-04-22 02:53] DavidBerdik commented on #37
Well, I spend way too much time on my computer. Especially now that I cannot go anywhere. 😆

[2020-05-06 01:23] DavidBerdik opened #39 "Build User Interface"
The modular project structure introduced by @maitreerawat's refactoring for the v1.0.18 release should allow for a user interface to built on top of InfiniDrive's existing functionality with relative ease.

**Version control management recommendation:** Since building a user interface component will be more time-consuming than most features that we implement, and we will want to be able to make re

[2020-05-06 01:58] #26 closed

[2020-05-06 02:06] DavidBerdik opened #40 "Experiment with File Management via Names"
Currently, file manipulation with InfiniDrive is managed through the use of file IDs. Ideally, file names would be used instead, but the nature of how InfiniDrive uses Google Drive means that duplicate file names are permitted, and so another identifier must be used instead. From a user experience perspective, it may be desirable to apply an artificial limitation on file names which would prohibit

[2020-05-08 16:32] maitreerawat commented on #40
A simple hashtable is used to address this problem which will match the filename with its id in the form of <key, value> pair i.e. <file name, ID>. Since we are using this data structure, the keys will always be unique i.e. duplicate file names cannot exist in such cases. If the user still wants to upload a file with the same name, they'll be provided with an option to rewrite the existing file.
T

[2020-05-09 01:26] DavidBerdik commented on #40
Using hashing for converting between file names and IDs is a very good idea, however I believe it would be better to instead rely on querying the Drive API on an as-needed basis to reduce overhead. I have added support for using this method of conversion in 84621a31ccc652ef88fc7a9878482cf5628d91ef.

[2020-05-09 17:13] DavidBerdik commented on #40
Since the results of @maitreerawat's experiment were successful, this feature will be included in the v1.0.18 release. No further work is needed on this feature, therefore, I am closing this issue.

[2020-05-09 17:13] #40 closed

[2020-05-11 09:26] innowebka commented on #39
can i run infinidrive using heroku app ?

[2020-05-12 02:21] DavidBerdik commented on #39
@innowebka Yes, you should be able to run InfiniDrive on Heroku. The reason you are receiving this error is because you need to place your credentials.json file in the InfiniDrive root directory.

[2020-05-13 09:52] innowebka commented on #39
so its working then can you buit ui in heroku ?

[2020-05-13 21:24] DavidBerdik commented on #39
@innowebka The plan is to build a UI that uses libraries that are not platform-dependent. @maitreerawat and I have not researched UI libraries extensively just yet so I cannot comment further on this at the moment. Regarding Heroku, I believe that it is not possible to run program UIs when using it, so you would be limited to using the command line version.

[2020-05-18 01:53] DavidBerdik commented on #34
Support for viewing sizes of uploaded files was added by 1edaaedfeed0c82410ff8e78f0e305f53ad4a8c7. This feature will be a part of the upcoming InfiniDrive v1.0.19 release.

[2020-05-18 01:53] #34 closed

[2020-05-27 02:55] DavidBerdik opened #42 "Replace CRC32 with Another Hash Function"
InfiniDrive currently makes use of the CRC32 hash function to validate the integrity of uploaded fragments. With the introduction of the `update` command, the values produced by this hash function are now used to determine if two fragments are identical. This is potentially risky, as CRC32 has a collision rate that is higher than other hash functions. It would be worth looking in to replacing CRC3

[2020-05-27 02:57] DavidBerdik commented on #31
Support for updating files has been added and will be included as part of the upcoming InfiniDrive v1.0.19 release. Before this update is released, issue #42 should be investigated, as it is very important for supporting the update functionality.

[2020-05-27 02:57] #31 closed

[2020-05-27 23:32] DavidBerdik commented on #42
The decision was made to add SHA256 support in addition to CRC32. By using two hashes, we should be safe from collisions. SHA256 support was introduced in 7994b4443f1b24a65911bea815bd46b134f3f2b2.

[2020-05-27 23:32] #42 closed

[2020-05-28 18:31] innowebka commented on #34
Thanks again ❤️

[2020-05-29 20:09] DavidBerdik commented on #34
@innowebka You're welcome!

[2020-06-14 20:56] DavidBerdik commented on #35
The upcoming release of InfiniDrive v1.0.20 adds support for interacting with InfiniDrive via FTP. The reason behind adding this feature was to allow any programs that support FTP to interact with InfiniDrive as though it was a normal FTP server. Since Rclone supports FTP, the recommended approach to using InfiniDrive with it will be to run InfiniDrive in FTP server mode, and then configure Rclone

[2020-06-14 20:56] #35 closed

[2020-06-15 11:31] DavidBerdik commented on #20
Assigned to @maitreerawat

[2020-06-16 02:47] DavidBerdik commented on #21
Based on my experimentation with multithreading, it appears that my initial belief that Google's rate limits for the Drive API would make multithreading useless are correct.

@maitreerawat - As we discussed, you are welcome to experiment with multithreading if you have any ideas for how to strike a balance between improved performance and not getting rate-limited, however, unless you do, I am goin

[2020-06-16 02:47] #21 closed

[2020-07-12 02:57] AnishDe12020 opened #43 "Error when uploading"

[2020-07-12 02:58] AnishDe12020 commented on #43
See this -
![image](https://user-images.githubusercontent.com/63192115/87237915-9d451c00-c419-11ea-9663-dfa01765fc29.png)

[2020-07-12 03:25] DavidBerdik commented on #43
Based on the output, I think this is a Google Drive error and not an InfiniDrive error, but I am not sure. Could you please do the following so that I may investigate further?

1. Rerun this command and verify that you can reproduce the issue.
2. If you are able to reproduce the issue, upload the "log.txt" file that should have been generated in the same directory as the "InfiniDrive.py" file.

[2020-07-12 11:06] AnishDe12020 commented on #39
Ok, David, everything works at last but it would be helpful if you could make an application that would create a backup of my whole computer to google drive with this infinidrive thing because I am not paying for extra storage..

[2020-07-12 18:18] DavidBerdik commented on #39
@AnishDe12020 If you are looking for an automated way to back up your system with InfiniDrive, your best option would be to use the InfiniDrive FTP server interface feature in conjunction with a program like Rclone.

[2020-07-12 20:08] innowebka commented on #39
**how to use infiniDrive FTP ?**

[2020-07-12 21:46] DavidBerdik commented on #39
Use FTP command as documented in the output from running the help command. This will launch a locally hosted FTP server on your computer that you can then log in to using any program that supports FTP.

Here is an example. I have started the InfiniDrive FTP server:

![image](https://user-images.githubusercontent.com/7663225/87257217-449c7000-c467-11ea-91fa-e4476f9619f7.png)

I can then use an FTP

[2020-07-13 04:30] AnishDe12020 commented on #39
No like I meant uploading folder without zipping them. But now I found a way. I want to just make sure if I can use your code?

[2020-07-13 20:08] DavidBerdik commented on #39
You can indeed! InfiniDrive is licensed under GNU General Public License v3.0 (https://github.com/DavidBerdik/InfiniDrive/blob/master/LICENSE) which means you can use InfiniDrive however you like as long as you retain the license, make the source code freely available, state what you changed, and retain credit to the original development team.

[2020-07-14 02:59] AnishDe12020 commented on #39
Ya it will be opensource in github.

[2020-07-14 03:00] DavidBerdik commented on #39
Great! I look forward to checking it out!

[2020-10-26 02:12] DavidBerdik opened #45 "Verify Upload by Downloading and Comparing Hashes in Parallel with Uploading"
To ensure the integrity of uploads, we should add support for downloading newly-uploaded fragments in parallel. This way, we can catch any corruption before it occurs. Our current approach for error detection and correction, while superior to earlier versions of the program, is still imperfect. This would require redownloading an entire upload in the background, which is of course slow and not ide

[2020-11-12 03:05] DavidBerdik commented on #20
@maitreerawat you may consider this issue completed.

[2020-11-12 03:06] DavidBerdik commented on #20
Due to upcoming changes to Google Drive's storage quota rules resulting in the end of InfiniDrive development, this issue has been closed without completion.

More information on the changes is available at: https://support.google.com/docs/answer/9312312?hl=en#:~:text=After%20June%201%2C%202021&text=Files%20created%20or%20edited%20in,not%20count%20against%20your%20quota.

[2020-11-12 03:06] #20 closed

[2020-11-12 03:06] DavidBerdik commented on #25
Due to upcoming changes to Google Drive's storage quota rules resulting in the end of InfiniDrive development, this issue has been closed without completion.

More information on the changes is available at: https://support.google.com/docs/answer/9312312?hl=en#:~:text=After%20June%201%2C%202021&text=Files%20created%20or%20edited%20in,not%20count%20against%20your%20quota.

[2020-11-12 03:06] #25 closed

[2020-11-12 03:07] DavidBerdik commented on #39
Due to upcoming changes to Google Drive's storage quota rules resulting in the end of InfiniDrive development, this issue has been closed without completion.

More information on the changes is available at: https://support.google.com/docs/answer/9312312?hl=en#:~:text=After%20June%201%2C%202021&text=Files%20created%20or%20edited%20in,not%20count%20against%20your%20quota.

[2020-11-12 03:07] #39 closed

[2020-11-12 03:07] DavidBerdik commented on #43
Due to upcoming changes to Google Drive's storage quota rules resulting in the end of InfiniDrive development, this issue has been closed without completion.

More information on the changes is available at: https://support.google.com/docs/answer/9312312?hl=en#:~:text=After%20June%201%2C%202021&text=Files%20created%20or%20edited%20in,not%20count%20against%20your%20quota.

[2020-11-12 03:07] #43 closed

[2020-11-12 03:08] DavidBerdik commented on #45
Due to upcoming changes to Google Drive's storage quota rules resulting in the end of InfiniDrive development, this issue has been closed without completion.

More information on the changes is available at: https://support.google.com/docs/answer/9312312?hl=en#:~:text=After%20June%201%2C%202021&text=Files%20created%20or%20edited%20in,not%20count%20against%20your%20quota.

[2020-11-12 03:08] #45 closed

[2020-11-12 03:15] DavidBerdik opened #46 "Update README with information on end of InfiniDrive development."
The project README should be updated with information about the end of InfiniDrive development.

[2020-11-18 07:44] innowebka commented on #46
**is this the main reason right?** _https://blog.google/products/photos/storage-policy-update/_

[2020-11-18 13:22] DavidBerdik commented on #46
Unfortunately, yes. InfiniDrive will continue to work until this change goes into effect in June of 2021, but I do not see the point in continuing to invest time in developing software that will soon be obsolete, so I am shutting InfiniDrive down. I hate needing to do this, but unfortunately, it's out of my hands. 😔

I will continue exploring new ways to store data, though. 🙂

[2020-11-19 10:14] innowebka commented on #46
stored data before June 1 doesn't count the drive storage. so store as much as you want before June 1.

[2020-11-19 13:20] DavidBerdik commented on #46
Yes. Uploading will continue to work until June 1, 2021. After that, only downloading will work.

[2020-12-20 04:21] DavidBerdik opened #47 "Add Automated Disabling of Upload-Related Commands on June 1, 2021"
As of June 1, 2021, Google will begin counting Google Docs files towards the 15GB storage quota for free accounts, but existing files will not count. (https://blog.google/products/photos/storage-policy-update/)

To prevent users from inadvertently using InfiniDrive to upload files after this date is reached, all commands related to uploading should be made to automatically become unavailable on Ju

[2020-12-20 04:24] DavidBerdik opened #48 "Add Alert About Google Storage Quota Changes to InfiniDrive Output"
To ensure that InfiniDrive users are aware of the upcoming changes to Google's storage quota rules, InfiniDrive output should be updated to prominently display a message warning users about it before it occurs, and display another message indicating that it has occurred after the change goes into effect.

[2020-12-20 19:34] DavidBerdik commented on #47
Added in 039ffd17327799eb79b2af32ff435ef46f2a54bc

[2020-12-20 19:34] #47 closed

[2020-12-20 22:41] DavidBerdik commented on #48
Added in f6c8e572445fb96161646e7101e93512740668a5

[2020-12-20 22:41] #48 closed

[2020-12-22 00:55] DavidBerdik commented on #46
The README has been updated, so this issue will now be closed, making it the final issue to be processed for InfiniDrive.

[2020-12-22 00:55] #46 closed